.ForgotForm {
    position: relative;
    width: 60%;
    margin: 100px auto 0 auto;
    margin-bottom: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    padding: 30px;
    box-sizing: border-box;
}

.ForgotForm > em {
    display: inline-block;
    margin-bottom: 30px;
    color: #666;
}

.ForgotForm .Inputs {
    width: 80%;
}

.ForgotForm .Inputs .InputBox {
    position: relative;
    margin-bottom: 25px;
}

.ForgotForm .Inputs .InputBox > span {
    position: absolute;
    top: 10px;
    left: 0;
    pointer-events: none;
    color: #666;
    transition: 0.5s;
}

.ForgotForm .Inputs .InputBox input:focus ~ span,
.ForgotForm .Inputs .InputBox input:valid ~ span {
    color: salmon;
    font-size: 12px;
    letter-spacing: 1px;
    transform: translateY(-20px);
}

.ForgotForm .Inputs input {
    background: transparent;
    padding: 10px 10px 5px 0;
    border: none;
    border-bottom: 1px solid #666;
}

.ForgotForm > form > .Container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ForgotForm > form > .Container > span {
    margin-left: 20px;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.ForgotForm > form > .Container > .Btn {
    padding: 10px 20px 10px 20px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    outline: none;
    border: none;
    font-weight: 600;
}

.ForgotForm > span {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: red;
}

.Disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.Allowed {
    background-color: #ff7100;
    cursor: pointer;
}

.Allowed:hover {
    background-color: #974c0e;
    cursor: pointer;
}

@media (max-width: 650px) {
    .ForgotForm {
        width: 100%;
        box-shadow: none;
    }
}